{% extends "layout-SB2.html" %}

{% block body %}
<h1 class="h3 mb-0 font-weight-bold text-primary">ZeroLevel Extract:</h1>
<p class="mb-4">Enter required BOM part number to be extracted into its zero-Level.</p>

<!-- Topbar Search -->
<div class="row mb-4">
    <form action="/ZeroLevel" method="POST"
        class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input name="PN" type="text" class="form-control bg-gray border-1 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"> </i>
                    Extract
                </button>
            </div>
        </div>
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="customCheck1" value="1" name="checkbox" checked>
            <label class="custom-control-label" for="customCheck1">
                Check, if you're going to export an excel sheet.</label>
        </div>
    </form>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col">
                <h6 class="my-2 font-weight-bold text-primary ">Zero Level {{ PN }}</h6>
            </div>
            <div class="col">
                <form action="/ZeroLevel/download/{{ FileName_ZeroLevel }}" method="get">
                    <button type="submit" class="btn btn-primary float-right">
                        <i class="fas fa-download fa-sm"></i>
                        Download
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>PN</th>
                        <th>Description</th>
                        <th>Qty</th>
                        <th>Unit</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% if not row_data %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% else %}
                    {% for row in row_data %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{"%.3f"|format(row[2])}}</td>
                        <td>{{row[1]}}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}