{% extends "layout-SB2.html" %}

{% block body %}
<h1 class="h3 mb-2 text-gray-800">ZeroLevel Extract:</h1>
<p class="mb-4">Enter required BOM part number to be extracted into its zero-Level.</p>

<!-- Topbar Search -->
<div class="row mb-4">
    <form action="/ZeroLevel" method="POST"
        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input name="PN" type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"> </i>
                    Extract
                </button>
            </div>
        </div>
    </form>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Zero Level of {{ PN }}</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>PN</th>
                        <th>Description</th>
                        <th>Qty</th>
                        <th>Unit</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% if not row_data %}
                    <tr>
                        <td>143-0600-050</td>
                        <td>Heat Exchanging Unit Aurora SON70.3CL-RR</td>
                        <td>1</td>
                        <td>EA</td>
                        <td></td>
                    </tr>
                    {% else %}
                    {% for row in row_data %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td></td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}